html, body {
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
    padding: 0;
    font-size: 16px;
    overflow-x: hidden;
}

h2 {
    font-family: 'Montserrat';
}

a {
    text-decoration: none;
    color: inherit;
}

/* Header */

header {
    background-color:darkgreen;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: nowrap;
    width: 100%;
}

#logo {
    width: 200px;
    /* height: 100%; */
    padding: 1rem 2rem;
    flex: 0 1 auto;
}

nav {
    width: auto;
    flex: 0 2 auto;
    display: flex;
    justify-content: flex-end;
}

ul {
    color: white;
    display: flex;
    justify-content: flex-end;
    list-style: none;
    
    padding: 0;
    width: 425.4px;
    /* flex-basis: 40%; */
    /* flex: 0 2 40%; */
}

li {
    font-family: 'Montserrat';
    font-size: 1.2rem;
    padding: 1rem 2rem;
    white-space: nowrap;
    flex: 0 1 auto;
    
}

@media only screen and (max-width: 760px) {
    #logo {
        width: 150px;
        padding: 0.5rem;
    }

    ul {
        width: auto;
    }

    li {
        font-size: 0.8rem;
        padding: 1rem 1rem;
    }
}

/* Main */

#flex-test {
    width: 80%;
    display: flex;
}

#flex-test div {
    width: 400px;
}

#red {
    background-color: red;
    flex: 1 2 auto;
}

#blue {
    background-color: blue;
    flex: 1 1 auto;
}

#yellow {
    background-color: yellow;
    flex: 1 1 auto;
}


#mission {
    width: 100%;
    height: 600px;
    background-image: url('https://spikeartmagazine.com/sites/default/files/styles/full_width_fix/public/users/shared/articles/images/nathan_fielder.jpg?itok=-8mP1gEF');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: top;
    border-bottom: 2px solid lightgray;
}

#mission h1 {
    background-color:lightgrey;
    max-width: 45%;
    padding: 10px;
    margin: 0 auto;
    font-family: 'Roboto Mono';
    font-size: 2rem;
    text-align: center;
    position: relative;
    top: 23rem;
    
}

@media only screen and (max-width: 760px) {
    #mission h1 {
        max-width: 65%;
    }
}

/* Industries */

#industries {
    border-bottom: 2px solid lightgray;
}

#industries h2, #industries h3 {
    padding: 0 30px;
}

#industries-container {
    display: flex;
    justify-content: flex-start;
    padding: 0 20px;
}

#industries-container .block {
    padding: 10px;
    max-width: 320px;
    /* flex: 1 1 auto; */
}

#industries-container img {
    max-width: 100%;
    height: auto;
}

#industries h4 {
    text-align: center;
}

#industries p {
    padding: 30px;
}

@media only screen and (max-width: 760px) {
    #industries-container {
        flex-direction: column;
        align-items: center;
    }
}

/* Team */

#team {
    border-bottom: 2px solid lightgray;
}

#team h2 {
    padding-left: 30px;
}

#headshot-container {
    display: flex;
    margin: 0 30px;
    padding: 30px;
    justify-content: space-around;
    flex-wrap: wrap;
}

.headshot-item {
    
    text-align: center;
}

#headshot-container img {
    width: 400px;
    height: auto;
}

@media only screen and (max-width: 760px) {

}

/* Footer */

footer {
    background-color: darkgreen;
    color: white;
}

#footer-content {
    display: flex;
    justify-content: space-around;
    align-content: flex-start;
    flex-wrap: wrap;
}

#business-info {
    display: flex;
    align-items: center;
}

#footer-content img {
    width: 100px;
}

#contact-boxes {
    display: flex;
}

.footer-box {
    padding: 20px;
}